<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tyler J. Sweeney Portfolio</title>
        <link rel="stylesheet" type="text/css" href="reset.css">
        <link rel="stylesheet" href="./styles.css" type="text/css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="scripts.js"></script>
</head>
    <body>
           
        <header id="masthead">
        <!-- <div class="container"> -->
            <div id="logo-div">
                <a href="/" id="logo"><img src="logo.png"></a>
            </div>
            <nav>
                <a href="/about">About</a>
                <a href="/portfolio">Portfolio</a>
                <a href="/contact">Contact</a>
            </nav>
        <!-- </div> -->
        </header>
        <div class="parallax-container">
                <div class="parallax"><img src="bg.jpg"></div>
              </div>
              <div class="section white">
                <div class="row container">
                  <h2 class="header">Parallax</h2>
                  <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
                </div>
              </div>
              <div class="parallax-container">
                <div class="parallax"><img src="6screens.jpg"></div>
              </div>
        <!-- <div id="main-container" class="container"> -->
        <!-- <section class="main-section">
            <h1>About Me</h1>

            <img src="self.png" class="auth-img" alt="portrait from tech demo day">

            <p>My name is Tyler Sweeney and I am a Full-Stack Web Developer.
            I began programming in 2015 with Python at Orange Coast College.
            I completed my Full-Stack Web Developer certification in April 2018.
            A gamer since a young age when every game had to be launched from DOS,
            my first interaction with programming was terminal commands.    
            </p>

            <p>In the group projects that I have been a part of, the main area I worked on
            was back-end development. In my free time I have been learning C++ and the Unreal Engine.
            I hope to have a part in making video games, which I have been passionate about my whole life.
            </p>
            
        </section>

        <section class="sidebar">
            <div id="connect">
                <h2>Connect with Me</h2>

                <a href="https://github.com/tylersweeney"><img src="github128.png" class="social" alt="Github"></a>
                <a href="https://www.linkedin.com/in/tylerjsweeney/"><img src="linkedin128.png" class="social" alt="LinkedIn"></a>
                <a href="https://stackoverflow.com/users/8525667/tyler-sweeney"><img src="stackoverflow128.png" class="social" alt="Stack Overflow"></a>
            </div>

        </section>

        <section class="main-section">
    
                <img src="ext.jpg" class="auth-img" alt="portrait from tech demo day">
    
                <p>My name is Tyler Sweeney and I am a Full-Stack Web Developer.
                I began programming in 2015 with Python at Orange Coast College.
                I completed my Full-Stack Web Developer certification in April 2018.
                A gamer since a young age when every game had to be launched from DOS,
                my first interaction with programming was terminal commands.    
                </p>
    
                <p>In the group projects that I have been a part of, the main area I worked on
                was back-end development. In my free time I have been learning C++ and the Unreal Engine.
                I hope to have a part in making video games, which I have been passionate about my whole life.
                </p>
                
            </section>

            <section class="main-section">
    
                    <img src="tech1.jpg" class="auth-img" alt="portrait from tech demo day">
        
                    <p>My name is Tyler Sweeney and I am a Full-Stack Web Developer.
                    I began programming in 2015 with Python at Orange Coast College.
                    I completed my Full-Stack Web Developer certification in April 2018.
                    A gamer since a young age when every game had to be launched from DOS,
                    my first interaction with programming was terminal commands.    
                    </p>
        
                    <p>In the group projects that I have been a part of, the main area I worked on
                    was back-end development. In my free time I have been learning C++ and the Unreal Engine.
                    I hope to have a part in making video games, which I have been passionate about my whole life.
                    </p>
                    
                </section> -->
        <!-- </div> -->
        <footer>
            <div class="container">
                &copy; Copyright 2017 Tyler Sweeney
            </div>
        </footer>
    </body>
</html>