<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tyler J. Sweeney Portfolio</title>
        <link rel="stylesheet" href="./styles.css" type="text/css">
    </head>
    <body>
            <header id="masthead">
                    <div class="container">
                        <a href="/" id="logo">Tyler Sweeney</a>
                        <nav>
                            <a href="about">About</a>
                            <a href="portfolio">Portfolio</a>
                            <a href="contact">Contact</a>
                        </nav>
                    </div>
                    </header>
                    <div id="main-container" class="container">
                            <section class="main-section">
                                <h1>Portfolio</h1>
                    
                                <div class="work">
                                    <img src="hangman.PNG" class="auth-img" alt="futurama hangman game">
                    
                                    <h3>Hangman</h3>
                                </div>
                                <div class="work">
                                    <img src="wearestillcool.PNG" class="auth-img" alt="futurama hangman game">
                        
                                    <h3>We Are Still Cool</h3>
                                </div>
                                <div class="work">
                                    <img src="beerme.PNG" class="auth-img" alt="futurama hangman game">
                            
                                    <h3>Beer Me</h3>
                                </div>
                                <div class="work">
                                    <img src="train.PNG" class="auth-img" alt="futurama hangman game">
                            
                                    <h3>Train Schedule</h3>
                                </div>    
                    
                                <div class="work">
                                    <img src="friendfinder.PNG" class="auth-img" alt="futurama hangman game">
                                
                                    <h3>Friend Finder</h3>
                                </div> 
                                <div class="work">
                                    <img src="nyt.PNG" class="auth-img" alt="futurama hangman game">
                                    <h3>React NYT Scrubber</h3>
                                </div>       
                            </section>
                    
                            <section class="sidebar">
                                <div id="connect">
                                    <h2>Connect with Me</h2>
                    
                                    <a href="https://github.com/tylersweeney"><img src="github128.png" class="social" alt="Github"></a>
                <a href="https://www.linkedin.com/in/tylerjsweeney/"><img src="linkedin128.png" class="social" alt="LinkedIn"></a>
                <a href="https://stackoverflow.com/users/8525667/tyler-sweeney"><img src="stackoverflow128.png" class="social" alt="Stack Overflow"></a>
                                </div>
                    
                            </section>
                            </div>
                            <footer>
                                <div class="container">
                                    &copy; Copyright 2017 Tyler Sweeney
                                </div>
                            </footer>
    </body>
</html>