<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tyler J. Sweeney Portfolio</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" href="./styles.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="scripts.js"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center"><img id= "logo"src="logo.png"></a>
          <ul class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="portfolio">Portfolio</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </nav>
  <!-- Element Showed -->
  <a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons"></i></a>
  <div class="fixed-action-btn direction-top active" style="bottom: 45px; right: 24px;">
        <a id="menu" class="btn btn-floating btn-large cyan">
          <i class="material-icons">menu</i>
        </a>
      </div>  <!-- Tap Target Structure -->
  <div class="tap-target" data-target="menu">
    <div class="tap-target-content">
      <h5>Contact Info</h5>
      <p>tylersweeney@gmail.com</p>
      <p>(714) 501-6400</p>
      <a href="https://github.com/tylersweeney"><img src="assets/images/github128.png" class="social" alt="Github"></a>
      <img src="assets/images/linkedin128.png" class="social" alt="LinkedIn">
      <img src="assets/images/stackoverflow128.png" class="social" alt="Stack Overflow">
    </div>
  </div>

  <a class="waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('open')">Contact Me</a>
     
  <div id="block1"class="parallax-container">
            <div class="parallax">Projects and Designs<img src="bg.jpg"></div>
          </div>
          <div class="section white">
            <div class="row container">
              <h2 class="header">Futurama Hangman</h2>

              <div class="row">
                  <div class="col s6">
              <img src="hangman.gif">
              </div>
              <div class="s6">
              <p class="grey-text text-darken-3 lighten-3">
                  This is a short game that we did early on in the course which I revisited
                  to add the Bender hangman animation .

                  Technologies Used: with HTML5, CSS, Javascript and JQuery.
              </p>
              </div>
              </div>
            </div>
          </div>
          <div class="parallax-container">
            <div class="parallax"><img src="planetExpress2.jpg"></div>
          </div>
          <div class="section white">
                <div class="row container">
                  <h2 class="header">We Are Still Cool App</h2>
    
                  <div class="row">
                      <div class="col s6">
                  <img src="wearestillcool.gif">
                  </div>
                  <div class="s6">
                  <p class="grey-text text-darken-3 lighten-3">
                    This is a medium sized social app/website. It has authenticatic login, profiles,
                    forums, product reviews, and meetups.

                    Technologies used: HTML, CSS, JavaScript, React, MongoDB, Passport.js
                  </p>
                  </div>
                  </div>
                </div>
              </div>
              <div class="parallax-container">
                <div class="parallax"><img src="kids_birthdayparty1024.jpg"></div>
              </div>

              <div class="section white">
                    <div class="row container">
                      <h2 class="header">Space Balls: The RPG</h2>
        
                      <div class="row">
                          <div class="col s6">
                      <img src="spaceballs.gif">
                      </div>
                      <div class="s6">
                      <p class="grey-text text-darken-3 lighten-3">
                        This is another game from the class that I revisited. Adding animations
                        and opacity tags and a general redesign from the original
    
                        Technologies used: HTML, CSS, JavaScript, React, MongoDB, Passport.js
                      </p>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="parallax-container">
                    <div class="parallax"><img src="SBintro559.gif"></div>
                  </div>

                  <div class="section white">
                        <div class="row container">
                          <h2 class="header">Beer Me App</h2>
            
                          <div class="row">
                              <div class="col s6">
                          <img src="beerme.gif">
                          </div>
                          <div class="s6">
                          <p class="grey-text text-darken-3 lighten-3">
                            This was our first group project. This is a fun social app that uses facial
                            recognition to suggest a beer based on detected emotion and suggests a brewery 
                            nearby that serves said beer
                          </p>
                          </div>
                          </div>
                        </div>
                      </div>
                      <div class="parallax-container">
                        <div class="parallax"><img src="beermepar.jpg"></div>
                      </div>

                      <div class="section white">
                            <div class="row container">
                              <h2 class="header">Train Time App</h2>
                
                              <div class="row">
                                  <div class="col s6">
                              <img src="traintime.gif">
                              </div>
                              <div class="s6">
                              <p class="grey-text text-darken-3 lighten-3">
                                This is a database app that takes a user input, stores it
                                in the database using firebase and displays the data in
                                a table.
                              </p>
                              </div>
                              </div>
                            </div>
                          </div>
                          <div class="parallax-container">
                            <div class="parallax"><img src="lake.jpg"></div>
                          </div>                                
                            
                            </div>
                            <footer class="page-footer">
                                    <div class="container">
                                      <div class="row">
                                        <div class="col l6 s12">
                                          <h5 class="white-text">Tyler Sweeney</h5>
                                          <p class="grey-text text-lighten-4"><img src="logo.png"></p>
                                        </div>
                                        <div class="col l4 offset-l2 s12">
                                          <h5 class="white-text">Links</h5>
                                          <ul>
                                            <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                                            <li><a class="grey-text text-lighten-3" href="portfolio">Portfolio</a></li>
                                            <li><a class="grey-text text-lighten-3" href="about">About</a></li>
                                            <li><a class="grey-text text-lighten-3" href="contact">Contact</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="footer-copyright">
                                      <div class="container">
                                      © 2017 Tyler Sweeney
                                      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                                      </div>
                                    </div>
                                  </footer>
    </body>
</html>