<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tyler J. Sweeney Portfolio</title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" href="./styles.css" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="scripts.js"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper green accent-1">
      <a href="/" class="brand-logo center"><img id="logo" src="logo.png"></a>
      <ul class="left hide-on-med-and-down">
        <li><a class="grey-text text-darken-3" href="/">Home</a></li>
        <li class="active"><a class="grey-text text-darken-3" href="portfolio">Portfolio</a></li>
        <li><a class="grey-text text-darken-3" href="contact">Contact</a></li>
        <li><a class="grey-text text-darken-3" href="resume">Resume</a></li>
      </ul>
    </div>
  </nav>
  <!-- Element Showed -->
  <!-- need to make it obvious that this  -->
  <div class="fixed-action-btn direction-top active" style="bottom: 45px; right: 24px;">
    <a id="email" class="btn btn-floating btn-large pulse cyan waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('open')"><i
        class="material-icons">email</i></a>

    </a>
  </div> <!-- Tap Target Structure -->
  <div class="tap-target" data-target="email">
    <div class="tap-target-content">
      <h5>Contact Info</h5>
      <p>tylersweeney@gmail.com</p>
      <p>(714) 501-6400</p>
      <i class="material-icons">public</i><a href="https://github.com/tylersweeney">Github</a>
      <br>
      <i class="material-icons">assignment_ind</i><a href="https://www.linkedin.com/in/tylerjsweeney/">LinkedIn</a>
      <br>
      <i class="material-icons">equalizer</i><a href="https://stackoverflow.com/users/8525667/tyler-sweeney">Stack
        Overflow</a>
    </div>
  </div>


  <!-- <div id="block1"class="parallax-container">
            <div class="parallax">Projects and Designs<img src="bg.jpg"></div>
          </div>
          <div class="section white">
            <div class="row container">
              <h2 class="header">Futurama Hangman</h2>

              <div class="row">
                  <div class="col s6">
              <img src="hangman.gif">
              </div>
              <div class="s6">
              <p class="grey-text text-darken-3 lighten-3">
                  This is a short game that we did early on in the course which I revisited
                  to add the Bender hangman animation .

                  Technologies Used: with HTML5, CSS, Javascript and JQuery.\


              </p>
              </div>
              </div>
            </div>
          </div> -->

  <!-- First Parallax -->
  <div id="block1" class="parallax-container">
    <div class="parallax"><img src="bg.jpg"></div>
  </div>
  <div class="section teal lighten-5">
    <div class="row container">
      <h2 class="header">Group Projects</h2>
      <div class="row">
        <div class="col s12">

          <!-- Group Project #1 Card -->
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="wearestillcool.gif">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">We Are Still Cool<i class="material-icons right">more_vert</i></span>
                <p><a href="http://www.wearestillcool.com/">We Are Still Cool</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">We Are Still Cool<i class="material-icons right">close</i></span>
                <p>Lead a group of 4 to design a social media site for Parents. Medium sized social app/website. It has authenticatic login, profiles,
                    forums, product reviews, and meetups.
        
                    Technologies used: HTML, CSS, JavaScript, React, MongoDB, Passport.js
        
                    What did I gain, demonstrate or learn from this project
        
                    group size
        
                    timeframe, deadline</p>
              </div>
            </div>
            <!-- Group Project #2 Card -->
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="beerme.gif">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Mood Brews<i class="material-icons right">more_vert</i></span>
                  <p><a href="https://blooming-fortress-74085.herokuapp.com/">Mood Brews</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Mood Brews<i class="material-icons right">close</i></span>
                  <p>This was our first group project. This is a fun social app that uses facial
                      recognition to suggest a beer based on detected emotion and suggests a brewery
                      nearby that serves said beer</p>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  <!-- section for the we are still cool app -->
  <!-- <div class="section white">
    <div class="row container">
      <h2 class="header">We Are Still Cool App</h2>

      <div class="row">
        <div class="col s12">
          <a href="http://www.wearestillcool.com/" target="_blank"><img src="wearestillcool.gif"></a>
        </div>
        <div class="s6">
          <p class="grey-text text-darken-3 lighten-3">

          </p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Second Parallax Section -->
  <div id="block1" class="parallax-container">
    <div class="parallax"><img src="bg.jpg"></div>
  </div>


  
  <div class="section teal lighten-5">
    <div class="row container">
      <h2 class="header">Javascript Games</h2>

      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="spaceballs.gif">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Space Balls: The RPG</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>This is another game from the class that I revisited. Adding animations and opacity tags and a general redesign from the original Technologies used: HTML, CSS, JavaScript, React, MongoDB, Passport.js</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="section white">
    <div class="row container">
      <h2 class="header">Beer Me App</h2>

      <div class="row">
        <div class="col s12">
          <img src="beerme.gif">
        </div>
        <div class="s6">
          <p class="grey-text text-darken-3 lighten-3">
            This was our first group project. This is a fun social app that uses facial
            recognition to suggest a beer based on detected emotion and suggests a brewery
            nearby that serves said beer
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Third Parallax Section -->
  <div id="block1" class="parallax-container">
    <div class="parallax"><img src="bg.jpg"></div>
  </div>

  <div class="section teal lighten-5">
    <div class="row container">
      <h2 class="header">Database Applications</h2>

      <!-- Database Card -->
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="traintime.gif">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">Train Times in Firebase</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>This is a database app that takes a user input, stores it in the database using firebase and displays the data in a table.</p>
          </div>
        </div>

      <!-- <div class="row">
        <div class="col s12">
          <img src="traintime.gif">
        </div>
        <div class="s6">
          <p class="grey-text text-darken-3 lighten-3">
            This is a database app that takes a user input, stores it
            in the database using firebase and displays the data in
            a table.
          </p>
        </div>
      </div> -->
    </div>
  </div>
  <div id="block1" class="parallax-container">
    <div class="parallax"><img src="bg.jpg
    "></div>
  </div>

  </div>
  <footer class="page-footer green accent-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="grey-text text-darken-3">Tyler Sweeney</h5>
          <p class="grey-text text-darken-3"><img src="logo.png"></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="grey-text text-darken-3">Links</h5>
          <ul>
            <li><a class="grey-text text-darken-3" href="/">Home</a></li>
            <li><a class="grey-text text-darken-3" href="portfolio">Portfolio</a></li>
            <li><a class="grey-text text-darken-3" href="contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="grey-text text-darken-3">© 2017 Tyler Sweeney</a>
      </div>
    </div>
  </footer>

</body>

</html>