<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tyler J. Sweeney Portfolio</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" href="./styles.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="scripts.js"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center"><img id= "logo"src="logo.png"></a>
          <ul class="left hide-on-med-and-down">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="portfolio">Portfolio</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </nav>

      <div class="parallax-container">
            <div class="parallax"><img src="bg.jpg"></div>
          </div>
          <div class="section white">
            <div class="row container">
              <h2 class="header">Futurama Hangman</h2>

              <div class="row">
                  <div class="col s6">
              <img src="hangman.gif">
              </div>
              <div class="s6">
              <p class="grey-text text-darken-3 lighten-3">
                  This is a short game that we did early on in the course which I revisited
                  to add the Bender hangman animation .

                  Created with HTML5, CSS, Javascript and JQuery.
              </p>
              </div>
              </div>
            </div>
          </div>
          <div class="parallax-container">
            <div class="parallax"><img src="planetExpress2.jpg"></div>
          </div>


                                <div class="work">
                                    <img src="wearestillcool.PNG" class="auth-img" alt="futurama hangman game">
                        
                                    <h3>We Are Still Cool</h3>
                                </div>
                                <div class="work">
                                    <img src="beerme.PNG" class="auth-img" alt="futurama hangman game">
                            
                                    <h3>Beer Me</h3>
                                </div>
                                <div class="work">
                                    <img src="train.PNG" class="auth-img" alt="futurama hangman game">
                            
                                    <h3>Train Schedule</h3>
                                </div>    
                    
                                <div class="work">
                                    <img src="friendfinder.PNG" class="auth-img" alt="futurama hangman game">
                                
                                    <h3>Friend Finder</h3>
                                </div> 
                                <div class="work">
                                    <img src="nyt.PNG" class="auth-img" alt="futurama hangman game">
                                    <h3>React NYT Scrubber</h3>
                                </div>       
                            </section>
                    
                            <section class="sidebar">
                                <div id="connect">
                                    <h2>Connect with Me</h2>
                    
                                    <a href="https://github.com/tylersweeney"><img src="github128.png" class="social" alt="Github"></a>
                <a href="https://www.linkedin.com/in/tylerjsweeney/"><img src="linkedin128.png" class="social" alt="LinkedIn"></a>
                <a href="https://stackoverflow.com/users/8525667/tyler-sweeney"><img src="stackoverflow128.png" class="social" alt="Stack Overflow"></a>
                                </div>
                    
                            </section>
                            </div>
                            <footer>
                                <div class="container">
                                    &copy; Copyright 2017 Tyler Sweeney
                                </div>
                            </footer>
    </body>
</html>