.header{
  text-align: center;
}

#grad, #grad2{
  width: 100%;
  height: auto;
  padding: 50px;
}
#logo{
    margin-top:2px;
}

#block1{
  height:25vh;
}
#block2{
  height: 15vh;
}

#block3{
  height:15vh;
}

#block4{
  height:15vh;
}

.btn{
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

#stillCoolFrame{
  margin-left: 600px;
}

#contact{
  margin-left: 200px;
  margin-top : 50px;
}

#resume{
  margin-left: 200px;
  margin-top: 50px;
}

.wasc-header{
  font-family: 'Amatic SC', cursive;
}

.wasc-subheader{
  font-family: 'Gloria Hallelujah', cursive;
}