body{
	background-image:url("https://i.imgur.com/lQzyx2A.png");
}

#nav1{
	text-decoration: none;
	display: inline;
	color:#777777;
}
#nav1:hover{
color:#4aaaa5;
}
#aboutHead, #portHead{
	font-size:36px;
	color:#4aaaa5;
	border-bottom-style: solid;
	padding-bottom: 20px;
}
#name{
	padding-left:5px;
	padding-right:5px;
	position:fixed;
	left:75px;
	top:10px;
	color:#ffffff;
	background-color:#4aaaa5;
	z-index: 2;
}
#name:hover{
	background-color:#f4428f;
}
#nav{
	right:0;
	top:0;
	left:0;
	padding-right:20px;
	position:fixed;
	text-align:right;
	padding-top:40px;
	height:50px;
	border-bottom-style: solid;
	border-color:#cccccc;
	background-color:white;
	z-index: 1;
}

.wrapper{
	width:960px;

}
#content{

	height: 650px
	width:650px;
	margin:150px auto 0 auto;
	padding: 20px;
	background-color: #ffffff;
}

p, #nav, #aboutMe, #portfolio {
	font-family: 'Arial', 'Helvetica Neue', 'Hlevetica', sans-serif;
	color:#777777;
}

#name, #aboutHead, #portHead{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#aboutMe, #portHead{
	margin-top:20px;
	margin-bottom:70px;

}
#bender{
	display:inline;
	/*margin-left: 100px;*/
}
#benderThumb{
	margin-left: 100px;
	border-style:solid;
	border-width:5px;
	border-color:#4aaaa5;
	position:left;
	width: 300px;
	height: 300px;
}
#benderBanner{
	margin-left: 100px;
	width:310px;
	margin-top:200px;
	font-size:36px;
	position:absolute;
	color:#ffffff;
	background-color:#4aaaa5;
	z-index:2;
}
#benderBanner:hover{
background-color:#f4428f;
}
/* */
.thumbs{
	display:inline;
}
#kingGizz{
	margin-left:100px;
	display:inline;
}
#kingGizzThumb{
	border-style:solid;
	border-width:5px;
	border-color:#4aaaa5;
	margin-left:px;
	width: 300px;
	height: 300px;
	z-index:1;
}
#kingGizzBanner{
	display:inline;
	width:310px;
	margin-top:200px;
	font-size:36px;
	position:absolute;
	color:#ffffff;
	background-color:#4aaaa5;
	z-index:2;
}
#kingGizzBanner:hover{
background-color:#f4428f;
}

#mouse{
	display:inline;

}
#mouseThumb{
	margin-top: 100px;
	margin-left: 100px;
	border-style:solid;
	border-width:5px;
	border-color:#4aaaa5;
	position:left;
	width: 300px;
	height: 300px;
}
#mouseBanner{
	margin-left: 100px;
	width:310px;
	margin-top:300px;
	font-size:36px;
	position:absolute;
	color:#ffffff;
	background-color:#4aaaa5;
	z-index:2;
}
#mouseBanner:hover{
background-color:#f4428f;
}


#rabbit{
    width: 400px; 
    height: 300px;
}
#laptop{
	position:relative;
	margin-left: 75px;
	width: 400px; 
    height: 300px;
}

footer{
	right:0;
	bottom:0;
	left:0;
	position:fixed;
	padding-right:20px;
	padding-top:20px;
	height:70px;
	border:5px;
	border-color:#cccccc;
	background-color:#666666;
	text-align:center;
}
ul{

}

aside{

	margin-top:150px;
	float:right;
	position:absolute;
	top:0;
	right:0;
	height: 200px;
	width: 400px;
    background-color:#ffffff;
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.contact{
	margin-top: 150px;
}

